body {
  background-color: #40284d;
  color: #dddddd;
}

.header {
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.container {
  max-width: 666px;
  margin: auto;
}